<div class="row">
  <div class="col s12 m12 l12">
    <div class="row">
      <div class="col s6 m6 l6">
        <div class="card" ng-repeat="item in data_list1">
          <div class="card-content">
            <div class="card-title">
              Welcome {{item.name}}
            </div>
            <p> This card contains a link to phone number & basic info about person </p>
            <div class="row">
              <label class="col s8 m8 l8 label-text">Call : <a href="#">{{item.phone}}</a></label>
              <label class="col s8 m8 l8 label-text">Name : <a href="#">{{item.name}}</a></label>
            </div>
            <div class="card-action">
              <a href="/list/item/{{item.id}}">
                <button class="btn red accent-2 btn-small waves-effect waves-light right">More Details</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s6 m6 l6">
        <div class="card" ng-repeat="item in data_list2">
          <div class="card-content">
            <div class="card-title">
              Welcome {{item.name}}
            </div>
            <p> This card contains a link to phone number & basic info about person </p>
            <div class="row">
              <label class="col s8 m8 l8 label-text">Call : <a href="#">{{item.phone}}</a></label>
              <label class="col s8 m8 l8 label-text">Name : <a href="#">{{item.name}}</a></label>
            </div>
            <div class="card-action">
              <a href="/list/item/{{item.id}}">
                <button class="btn red accent-2 btn-small waves-effect waves-light right">More Details</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
