<div class="row">
  <div class="col s4 m4 l4"></div>
  <div class="col s4 m4 l4">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
          <span ng-bind="listItem.title"></span>
        </div>
      </div>
      <div class="card-action">
        <div class="row">
          <button class="col s5 m5 l5 btn btn-green waves-effect waves-light">Call Now</button>
          <span class="col s2 m2 l2"></span>
          <button class="col s5 m5 l5 btn btn-blue waves-effect waves-light">Share on FB</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col s4 m4 l4"></div>
</div>
